/* Fuente y estilos generales */
body {
  font-family: 'Delius', cursive;
  background-color: #f8f9fa;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #3d8649;
  color: white;
  text-align: center;
  padding: 20px 0;
}

main {
  max-width: 500px;
  margin: 40px auto;
  background: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.saludo {
  text-align: center;
}

h2 {
  color: #3d8649;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  padding: 10px 15px;
  margin-left: 5px;
  background-color: #3d8649;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #51af60;
}

#mensaje {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background-color: #f1f1f1;
  margin: 8px 0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.3s;
}

li:hover {
  background-color: #e6e6e6;
}

.completada {
  text-decoration: line-through;
  color: gray;
}

.btn-eliminar {
  background: crimson;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 8px;
  cursor: pointer;
}

.btn-eliminar:hover {
  background: darkred;
}

footer {
  text-align: center;
  
  padding: 13px;
  background-color: #3d8649;
  color: white;
  margin-top: 40px;
}
